[submodule "mach-glfw"]
	path = mach-glfw
	url = https://github.com/slimsag/mach-glfw
[submodule "glfw"]
	path = glfw
	url = https://github.com/slimsag/glfw.git
[submodule "cimgui.zig"]
	path = cimgui.zig
	url = https://github.com/tiawl/cimgui.zig.git
